     
     
     {% load static %}
     <!-- Brand Start -->
      <div class="brand">
        <div class="container-fluid">
            <div class="brand-slider">                 
                <div class="brand-item"><img src="{% static 'home/img/xiaomi.png' %}" alt=""></div>
                <div class="brand-item"><img src="{% static 'home/img/asus.png' %}" alt=""></div>
                <div class="brand-item"><img src="{% static 'home/img/apple.png' %}" alt=""></div>
                <div class="brand-item"><img src="{% static 'home/img/samsung.png' %}" alt=""></div>
                <div class="brand-item"><img src="{% static 'home/img/lenovo.png' %}" alt=""></div> 
                <div class="brand-item"><img src="{% static 'home/img/huawei.png' %}" alt=""></div>
                <div class="brand-item pt-2"><img src="{% static 'home/img/sony.png' %}" alt=""></div>
            </div>
        </div>
    </div>

     <!-- Brand End -->