<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mars Teknoloji Online</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <!-- Favicon -->
        <link href="{% static 'home/img/icon.png' %} " rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'home/lib/slick/slick.css' %} " rel="stylesheet">
        <link href="{% static 'home/lib/slick/slick-theme.css' %} " rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'home/css/style.css'%}" rel="stylesheet">
    </head>

    <body>

        {% include 'home/navbar.html' %}

        {% block body %}
        {% endblock body %}

        {% include 'home/footer.html' %}


        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src=" {% static 'home/lib/easing/easing.min.js'%}"></script>
        <script src=" {% static 'home/lib/slick/slick.min.js'%}"></script>
                
        <!-- Template Javascript -->
        <script src=" {% static 'home/js/main.js'%}"></script>

    </body>
</html>
    