{% extends 'home/layout.html' %}

{% load static %}
{% load crispy_forms_tags %}



{% block body %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home:index' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'users:login' %}">Login</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'password_reset' %}">Password Reset</a></li>
                    <li class="breadcrumb-item active">Password Reset Complete</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
    

         
        <!-- Login Start -->
        <div class="login mb-5">
            <div class="container-fluid">
                <div class="row justify-content-md-center">
                    <div class="col-lg-8">    
                       

                        <div class="alert alert-info">
                            Your Password Has Been Set !
                        </div>

                        <div class="col-md-12">
                            <a class="btn" href="{% url 'users:login'%}">Log In</a>
                            <br><br>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- Login End -->


{% endblock body %}