{% extends 'home/layout.html' %}

{% load static %}
{% load crispy_forms_tags %}



{% block body %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home:index' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Wishlist</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
    

        
        <!-- Wishlist Start -->
        <div class="wishlist-page">
            <div class="container-fluid">
                <div class="wishlist-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">

                                    {% if wishlists %}      
                                        {% for wishlist in wishlists %}
                                        
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th>Add to Cart</th>
                                                    <th>Remove</th>
                                                </tr>
                                            </thead>
                                            <tbody class="align-middle">
                                                <tr>
                                                    <td>
                                                        <div class="img">
                                                            <a href="{% url 'products:product_detail' wishlist.product_id %}"><img src="{{wishlist.product_pic_1.url}}" alt="Image"></a>
                                                            <p>{{ wishlist.product_name}}</p>
                                                        </div>
                                                    </td>
                                                    {% if wishlist.product_discount_price %}
                                                        <td>{{wishlist.product_discount_price }}</td>
                                                    {% else %}
                                                        <td>{{wishlist.product_price}}</td>
                                                    {% endif %}

                                                    <td>
                                                        <div class="qty">
                                                            <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                                            <input type="text" value="{{wishlist.quantity}}">
                                                            <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                                        </div>
                                                    </td>
                                                    <td><button class="btn-cart">Add to Cart</button></td>
                                                    <td><button><i class="fa fa-trash"></i></button></td>
                                                </tr>                                     
                                            </tbody>
                                        {% endfor %}                                      
                                    
                                    {% else %}                                    
                                        <h4> Sorry {{user.username}}, Your Wishlist is Empty</h4>
                                    {% endif %}


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wishlist End -->
        
{% endblock body %}